@import 'colors';

$f1: 'DM Sans', sans-serif;


// font sizes variables

$fz1: 91px; // h1
$fz2: 50px; // h2
$fz3: 30px; // h3
$fz4: 24px; // h4
$fz5: 20px; // h5
$fz6: 18px; // h6
$fz6: 18px; // h6
$fz7: 25px; // subttittle 1
$fz8: 14px; // subttittle 2
$fz9: 18px; // link
$fz10: 18px; // body 1 
$fz11: 14px; // body 2
$fz12: 22px; // body1-large
$fz13: 20px; // body2-large
$fz14: 14px; // buttontext
$fz15: 14px; // caption
$fz16: 10px; // overline


.br{
    height: $fz10;
}

.ff1{
    font-family: $f1;
}

h1{
    font-family: $f1;
    font-weight: 300;
    font-size: $fz1;
    letter-spacing: -3;
    line-height : 110px;
}

h2{
    font-family: $f1;
    font-weight: 300;
    font-size: $fz2;
    letter-spacing: -0.5;
}

h3{
    font-family: $f1;
    font-weight: 400;
    font-size:  $fz3;
    letter-spacing: 0;
}

h4{
    font-family: $f1;
    font-weight: 400;
    font-size: $fz4;
    letter-spacing: 0.25;
}


h5{
    font-family: $f1;
    font-weight: 400;
    font-size: $fz5;
    letter-spacing: 0;
}

h6{
    font-family: $f1;
    font-weight: 500;
    font-size: $fz6;
    letter-spacing: 0.15;
}

.subtittle1{
    font-family: $f1;
    font-weight: 400;
    font-size: $fz7;
    letter-spacing: 0.5;
}

.subtittle2{
    font-family: $f1;
    font-weight: 500;
    font-size: $fz8;
    letter-spacing: 0.25;
}


.link{
    font-family: $f1;
    font-weight: 300;
    font-size: $fz9;
    letter-spacing: 0.5;
    line-height: 28px;
    word-spacing: 1px;
    text-decoration: none;

}

.body1{
    font-family: $f1;
    font-weight: 300;
    font-size: $fz10;
    letter-spacing: 0.5;
    line-height: 27px;
    word-spacing: 1px;   
}


.body2{
    font-family: $f1;
    font-weight: 300;
    font-size: $fz11;
    letter-spacing: 0.5;
    line-height: 28px;
    word-spacing: 1px;
}

.body2>span{
    font-family: Consolas, 'Courier New', monospace; 
    font-weight: 500;
    font-size: $fz11 - 2;
    letter-spacing: 0.5;
    line-height: 28px;
    word-spacing: 1px;
    color: #abca3b;
}

.body1-large{
    font-family: $f1;
    font-weight: 300;
    font-size: $fz12;
    letter-spacing: 0.5;
    line-height: 28px;
    word-spacing: 1px;
}

.body2-large{
    font-family: $f1;
    font-weight: 400;
    font-size: $fz13;
    letter-spacing: 0.25;
}

.buttontext{
    font-family: $f1;
    font-weight: 500;
    font-size: $fz14;
    letter-spacing: 1.25;
}

.caption{
    font-family: $f1;
    font-weight: 400;
    font-size: $fz15;
    letter-spacing: 0.4;
}

.overline{
    font-family: $f1;
    font-weight: 400;
    font-size: $fz16;
    letter-spacing: 1.5;
}

.body1>b{
    font-family: $f1;
    font-size: $fz10;
    //color: $fc1;
}

p>a{
    font-family: $f1;
    font-size: $fz10;
}

//referencias

.ref-a{
    font-family: $f1;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5;
    font-style: italic;
    line-height: 25px;
}

.ref-i{
    font-family: $f1;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.5;
    font-style: italic;
}



@media screen and(max-width: 800px){

    h1{
        font-size: $fz1 - 40;
        letter-spacing: -1.5;
        line-height : 60px;
    }

    h2{
        font-size: $fz2 - 20;
        letter-spacing: -0.5;
    }

    h3{
        font-size: $fz3 - 5;
        letter-spacing: 0;
    }

    h4{
        font-size: $fz4 - 3;
        letter-spacing: 0.25;
    }


    h5{
        font-size: $fz5 - 2;
        letter-spacing: 0;
    }

    h6{
        font-size:  $fz6 - 2;
        letter-spacing: 0.15;
    }

    .subtittle1{
        font-size:  $fz7 - 8;
        letter-spacing: 0.5;
    }

    .subtittle2{
        font-size: $fz8 - 2;
        letter-spacing: 0.25;
    }

    .body1{
        font-family: $f1;
        font-weight: 300;
        font-size: $fz10 - 2;
        letter-spacing: 0.5;
        line-height: 28px;
        word-spacing: 1px;
    }

    .body2{
        font-family: $f1;
        font-weight: 400;
        font-size: $fz11 - 2;
        letter-spacing: 0.25;
    }

}


// font weight

.fw1{
    font-weight: 100;
}

.fw2{
    font-weight: 200;
}


.fw3{
    font-weight: 300;
}

.fw4{
    font-weight: 400;
}

.fw5{
    font-weight: 500;
}

.fw6{
    font-weight: 600;
}

.fw7{
    font-weight: 700;
}

.fw8{
    font-weight: 800;
}

.fw9{
    font-weight: 900;
}

.fw10{
    font-weight: 1000;
}


//opacity

.o1{
    opacity: 0.1;
}

.o2{
    opacity: 0.2;
}

.o3{
    opacity: 0.3;
}

.o4{
    opacity: 0.4;
}

.o5{
    opacity: 0.5;
}

.o6{
    opacity: 0.6;
}

.o7{
    opacity: 0.7;
}

.o8{
    opacity: 0.8;
}

.o9{
    opacity: 0.9;
}

.o10{
    opacity: 1;
}

//mayusculas

.mys{
    text-transform: uppercase;
}

//minusculas

.mns{
    text-transform: lowercase;
}

//Mayusculas en la primer palabra

.myp{
    text-transform: capitalize;
}

//text shadow

.sw1{
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2 );
}

//Font style

.i{
    font-style: italic; //italica
}

.n{
    font-weight: bold; //negrilla
}

.l{
    font-weight: lighter;
}


//centrar texto

.tac{
    text-align: center;
}

.tar{
    text-align: right;
}

.tal{
    text-align: left;
}

.taj{
    text-align: justify;
}